<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hostMap" type="NConfig.HostMapSection, NConfig"/>
  </configSections>

  <hostMap>
    <add host="DESKTOP-LG1A8BR" alias="Dev"/>
    <add host="WDAT250157" alias="Dev"/>
    <add host="*" alias="Any"/>
  </hostMap>

</configuration>