<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <add key="BaseAddress" value="http://localhost:9000"/>
    <add key="StartupType" value="ConsoleOnly"/>
    <add key="Categories" value="male, female, teenager, child"/>
    <add key="Classes" value="male, female, mixed"/>
    <add key="TimyReader" value="USB"/>
    <add key="SaveFileDirectory" value="Data"/>
    <add key="AutoLoadRace" value=""/>
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets async="true">
      <target name="filetarget" xsi:type="File" fileName="${basedir}/${shortdate}/log.log"/>
      <target name="debugconsoletarget" xsi:type="Console"  layout="${longdate} ${callsite} ${level} ${message}"/>
      <target name="consoletarget" xsi:type="Console"  layout="${message}"/>
    </targets>

    <rules>
      <logger name="*" minLevel="Trace" writeTo="filetarget"/>
      <logger name="*" minLevel="Info" writeTo="consoletarget"/>
      <logger name="*" minLevel="Debug" writeTo="debugconsoletarget"/>
    </rules>
  </nlog>

</configuration>